/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

h2 {
    color: #FFF;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/


/* 
-----------------------------------------------
    SECTION: BECOME A PLAYER
-----------------------------------------------
*/

.players-coach {
    /* Placeholder */
    background-color: #222;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* 
-----------------------------------------------
    SECTION: BECOME A COACH
-----------------------------------------------
*/