/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}


/* 
-----------------------------------------------
    GRID / LAYOUT
-----------------------------------------------
*/

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.grid-layout {
    display: grid;
}

.layout-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 55px;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

h2 {
    color: #FFF;
}

.btn {
    text-transform: uppercase;
    background-color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    color: #222;
    text-decoration: none;
    margin-top: 15px;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/


/* Header Layout */

header.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .logo-wrapper {
    width: 16%;
    text-align: left;
}

.header-wrapper #site-navigation {
    width: 70%;
}

.header-wrapper #cta-player-coach {
    width: 14%;
    text-align: right;
}

header.site-header .site-logo {
    max-width: 200px;
}


/* Menu */

header .nav-menu ul {
    list-style: none;
    text-align: center;
}

header .nav-menu ul li {
    display: inline-block;
    vertical-align: middle;
}

header .nav-menu ul li:after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

header .nav-menu ul li a,
header .nav-menu ul li a:hover,
header .nav-menu ul li a:focus,
header .nav-menu ul li a:active {
    text-decoration: none;
    color: #222;
}


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/


/* 
-----------------------------------------------
    SECTION: BECOME A PLAYER / BECOME A COACH
-----------------------------------------------
*/

.players-coach .container {
    /* Placeholder */
    color: #FFF;
    position: relative;
    height: 547px;
}

.players-coach .player,
.players-coach .coach {
    position: absolute;
    width: 100%;
    height: 100%;
}

.players-coach .player {
    left: 0;
    top: 0;
    background-image: url(http://via.placeholder.com/350x150/ffcc99);
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 128% 0%, 0% 81%, 0% 100%);
}

.players-coach .coach {
    right: 0;
    top: 0;
    background-image: url(http://via.placeholder.com/350x150/fc9fc9);
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(129% 0, 100% 0%, 100% 100%, -29% 100%);
}

.players-coach .player .inner {
    padding-left: 81px;
    padding-top: 83px;
    max-width: 400px;
}

.players-coach .coach .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
    text-align: right;
    padding-right: 81px;
    padding-bottom: 83px;
}


/* 
-----------------------------------------------
    SECTION: ABOUT
-----------------------------------------------
*/

.about .container {
    padding: 85px 65px;
    background-color: #FFF;
}

.about h2 {
    color: #ef0000;
    text-transform: uppercase;
    font-size: 40px;
    /* subject to change */
    margin-bottom: 20px;
}


/* 
-----------------------------------------------
    SECTION: BLOG
-----------------------------------------------
*/

.blog .container {
    padding: 85px 65px;
    background-color: #004648;
    color: #FFF;
}

.blog h2 {
    text-align: center;
    margin-bottom: 80px;
}


/* 
-----------------------------------------------
    SECTION: SPONSORS
-----------------------------------------------
*/

.sponsors .container {
    padding: 85px 65px;
}