/* 
-----------------------------------------------
    COLORS
-----------------------------------------------
*/

:root {
    --primary-color: #d94343;
    --secondary-color: #45e5c9;
    --dark-text-color: #626262;
    --white-text-color: #FFF;
    --middle-gray-color: #f5f5f5;
    --game-lol: #2c7cae;
    --game-csgo: #fa9d00;
}


/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}


/* 
-----------------------------------------------
    GRID / LAYOUT
-----------------------------------------------
*/

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* bottom:  0; */
    height: 100%;
}

.xs-container {
    width: 100%;
    max-width: 920px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* bottom:  0; */
    height: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.grid-layout {
    display: grid;
}

.layout-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 55px;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #FFF;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    positioN: relative;
    z-index: 2;
    line-height: 40px;
    margin-bottom: 15px;
}

.btn {
    text-transform: uppercase;
    background-color: var(--middle-gray-color);
    color: var(--primary-color);
    padding: 12px 15px;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.secondary-btn {
    background-color: var(--primary-color);
    color: var(--white-text-color);
}

.small-btn {
    font-size: 12px;
}

.btn+.btn {
    margin-left: 20px;
}

p+p {
    margin-top: 25px;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

.overlay-primary:before {
    box-shadow: inset -30px 130px 135px var(--primary-color);
}

.overlay.overlay-game.league-of-legends:before {
    box-shadow: inset -30px 130px 135px var(--game-lol);
}

.overlay.overlay-game.fortnite:before {
    box-shadow: inset -30px 130px 135px var(--primary-color);
}

.overlay-csgo-game:before {
    box-shadow: inset -30px 130px 135px var(--game-csgo);
}

.overlay-primary-small:before {
    box-shadow: inset -1px 67px 97px var(--primary-color);
}

.overlay-content {
    position: relative;
    z-index: 3;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/


/* Header Layout */

header.site-header {
    background-color: var(--middle-gray-color);
}

header.site-header .container {
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .logo-wrapper {
    text-align: left;
    width: 270px;
}

.header-wrapper #cta-player-coach {
    text-align: right;
    overflow: hidden;
    width: 270px;
}

header.site-header .site-logo {
    max-width: 160px;
}


/* Menu */

header #primary-menu {
    list-style: none;
    text-align: center;
}

header #primary-menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

header #primary-menu li:after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 24px;
}

header #primary-menu li:last-of-type:after {
    content: "";
}

header #primary-menu li a,
header #primary-menu li a:hover,
header #primary-menu li a:focus,
header #primary-menu li a:active {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* Call to Action Buttons in Header */

#cta-player-coach span {
    vertical-align: middle;
    opacity: 0.3;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    height: 29px;
    line-height: 29px;
}

#cta-player-coach .btn-player,
#cta-player-coach .btn-coach {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    padding-right: 10px;
    color: var(--white-text-color);
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
}

#cta-player-coach .btn-player {
    background-color: var(--primary-color);
    position: relative;
    padding-right: 8px;
}

#cta-player-coach .btn-player:after {
    content: "";
    background-color: var(--primary-color);
    height: 45px;
    position: absolute;
    width: 15px;
    left: 90.1%;
    top: -5px;
    transform: rotate(18deg);
}

#cta-player-coach .btn-coach {
    background-color: var(--secondary-color);
    padding-left: 20px;
}


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/

footer {
    background-color: black;
    padding: 50px 0;
    color: #FFF;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer.site-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer.site-footer .footer-address>* {
    display: block;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

footer.site-footer nav ul li {
    display: inline-block;
}

footer.site-footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.site-footer nav li a,
footer.site-footer nav li a:hover,
footer.site-footer nav li a:focus,
footer.site-footer nav li a:active {
    text-decoration: none;
    text-transform: uppercase;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer.site-footer nav li:after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
}

footer.site-footer nav li:last-of-type::after {
    content: "";
}


/* 
-----------------------------------------------
    SECTION: BECOME A PLAYER / BECOME A COACH
-----------------------------------------------
*/

.players-coach .inner-wrapper {
    color: var(--white-text-color);
    position: relative;
    height: calc(100vh - 82px);
}

.players-coach .btn {
    color: #000;
}

.players-coach .player,
.players-coach .coach {
    position: absolute;
    width: 100%;
    height: 100%;
}

.players-coach .player {
    left: 0;
    top: 0;
    background-image: url(/nord-esports/wp-content/uploads/2019/11/68446720_2543504322359731_4143733934070431744_n.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 128% 0%, 0% 81%, 0% 100%);
    background-size: auto 100%;
    background-position: center center;
}

.players-coach .player:before {
    box-shadow: inset 107px 172px 285px var(--primary-color);
}

.players-coach .coach {
    right: 0;
    top: 0;
    background-image: url(/nord-esports/wp-content/uploads/2019/11/becomeacoachnew-3.jpg);
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(129% 0, 100% 0%, 100% 100%, -29% 100%);
    background-size: 100% auto;
    background-position: center center;
}

.players-coach .coach:before {
    box-shadow: inset -107px -172px 285px var(--secondary-color);
}

.players-coach .player .inner {
    padding-left: 0;
    padding-top: 70px;
    max-width: 300px;
    position: relative;
    z-index: 3;
}

.players-coach .coach .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 300px;
    text-align: right;
    padding-right: 0;
    padding-bottom: 70px;
    z-index: 3;
}


/* 
-----------------------------------------------
    SECTION: ABOUT
-----------------------------------------------
*/

.about .container {
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.about h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

.about .container p:last-of-type {
    margin-bottom: 40px;
}

.about img {
    max-width: 100%;
}


/* 
-----------------------------------------------
    SECTION: BLOG
-----------------------------------------------
*/

.blog .container {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--dark-text-color);
}

.blog h2 {
    text-align: center;
    margin-bottom: 60px;
    color: var(--primary-color);
}

.blog .blog-item {
    height: 222px;
    /* placeholder */
}

.blog .blog-item .bg-image {
    height: 100%;
    padding: 17px 20px;
    text-align: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.blog .blog-item h3 {
    text-transform: uppercase;
    color: var(--white-text-color);
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.blog .blog-item p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--white-text-color);
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
}

.blog .blog-item .btn {
    margin-left: auto;
    margin-right: auto;
    color: #000;
}


/* 
-----------------------------------------------
    SECTION: SPONSORS
-----------------------------------------------
*/

.sponsors .container {
    /* padding: 0 0px; */
}

.sponsors .container .sponsor-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.sponsors .container .sponsor-gallery img {
    max-height: 160px;
    /* width: auto; */
}

.sponsors .container .sponsor-gallery img:not(:last-of-type) {
    margin-right: 40px;
}


/* 
-----------------------------------------------
    SECTION: TWITCH/YOUTUBE
-----------------------------------------------
*/

.video-platforms {
    background-color: var(--primary-color);
    padding: 60px 0;
}

.video-platforms h3 {
    text-transform: uppercase;
    color: var(--white-text-color);
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 24px;
}

.video-platforms .container,
.video-platforms .twitch {
    height: 100%;
    min-height: 320px;
}

.video-platforms .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    /* height: 320px; */
    /* margin-bottom: 60px; */
}

.video-platforms .twitch iframe {
    height: 100%;
    width: 100%;
}


/* 
-----------------------------------------------
    SECTION: FEATURED EVENT
-----------------------------------------------
*/

.featured-event {
    height: 244px;
}

.featured-event .event-wrapper {
    text-align: center;
    color: var(--white-text-color);
    height: 100%;
}

.featured-event .event-wrapper .event-bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-size: 100% auto;
    position: relative;
}

.featured-event .event-wrapper .event-bg-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.featured-event h3 {
    margin-bottom: 15px;
    position: relative;
    z-index: 3;
}

.featured-event h2 {
    margin-bottom: 0;
}

.featured-event .btn {
    color: #000;
    position: relative;
    z-index: 3;
}


/* 
-----------------------------------------------
    SECTION: DISCORD
-----------------------------------------------
*/

section.discord {
    padding-top: 33px;
    padding-bottom: 23px;
    background-color: var(--middle-gray-color);
}

section.discord .container {
    text-align: center;
}

section.discord h2 {
    color: #626262;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 10px;
}

section.discord a {
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
}

section.discord a img {
    width: 100%;
    max-width: 260px;
    vertical-align: middle;
}


/* 
-----------------------------------------------
    PAGE: TEAMS
-----------------------------------------------
*/

.team .event-wrapper {
    text-align: center;
    color: var(--white-text-color);
    height: 100%;
}

section.team {
    margin-bottom: 3px;
}

.team .event-wrapper .event-bg-image {
    height: 100%;
    background-size: 100% auto;
    position: relative;
    padding-top: 72px;
    padding-bottom: 67px;
}

.team .event-wrapper .event-bg-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.team .event-wrapper .xs-container {
    display: grid;
    grid-template-columns: 3fr 1.7fr;
    grid-column-gap: 150px;
}

.team.reverse .event-wrapper .xs-container {
    grid-auto-flow: dense;
    /* NEW */
    grid-template-columns: 1.7fr 3fr;
}

.team.reverse .event-wrapper .xs-container .text-wrapper {
    grid-column: 2;
}

.team .event-wrapper .text-wrapper {
    position: relative;
    z-index: 3;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
}

.team.reverse .event-wrapper .text-wrapper {
    text-align: right;
}

.team h3 {
    margin-bottom: 15px;
}

.team h2 {
    margin-bottom: 30px;
}

.team .btn {
    color: #000;
    position: relative;
    z-index: 3;
}

.team .cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}